html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

.body-section {
    width: 98vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    background-color: #F9F5EB;
}
h1 {
    padding-bottom: 50px;
    margin-top: -100px;
}
.verify-container {
    background-color: #607EAA;
    max-width: 600px;
    min-width: 300px;
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-around;
    border-radius: 15px;
}
.input-container {
    height: 15%;
    width: 100%;
    display: flex;
}
input {
    display: inline-block;
    width: 78%;
    height: 80%;
    font-size: 14px;
}
button {
    background-color: #1C3879;
    border: none;
    width: 100px;
    height: 100%;
    display: flex;
    text-align: center;
    display: inline-block;
}
footer {
    height: 15vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    background-color: #EAE3D2;
}